<app-header></app-header>
<main>
  <div class="status-header">
    <h2>ESTADO DEL VIAJE</h2>
    <button mat-mini-fab color="primary" type="button" aria-label="boton Actualizar" (click)="getStatus()">
      <mat-icon>cached</mat-icon>
    </button>
  </div>
  
  <div class="table-content">
    <mat-form-field appearance="fill">
      <mat-label>Filtro</mat-label>
      <input matInput>
    </mat-form-field>
  
    <table *ngIf="dataSource.length !== 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef class="cell-header">Fecha</th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef class="cell-header">Marca</th>
        <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef class="cell-header">Modelo</th>
        <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="equipo">
        <th mat-header-cell *matHeaderCellDef class="cell-header">Equipo</th>
        <td mat-cell *matCellDef="let element"> {{element.equipo | i18nSelect: estadoMap}} </td>
        <!-- <td mat-cell *matCellDef="let element"> {{element.equipo}} </td> -->
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="envio">
        <th mat-header-cell *matHeaderCellDef class="cell-header">Envio</th>
        <td mat-cell *matCellDef="let element"> {{element.envio | i18nSelect: envioMap}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</main>
<app-footer></app-footer>