<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="../../../assets/logo_transparent.png" width="60" height="60" alt="logo todo it">
      <span>TODO IT</span>
      <span class="example-spacer"></span>
      <button type="button" [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      </mat-toolbar-row> 
    </mat-toolbar>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">Inicio</button>
      <button *ngIf="!loguedIn" mat-menu-item routerLink="/login">Login</button>
      <button *ngIf="loguedIn" mat-menu-item routerLink="/request">Solicitar Viaje</button>
      <button *ngIf="loguedIn" mat-menu-item routerLink="/status">Estado de Viajes</button>
      <button *ngIf="loguedIn" mat-menu-item routerLink="/history">Historial</button>
      <button *ngIf="loguedIn" mat-menu-item (click)="logout()">Cerrar Sesión</button>
    </mat-menu>       
</header>
