<app-header></app-header>
<form action="">
  <h1>Formulario de retiro del equipo</h1>
  <mat-form-field appearance="fill">
    <mat-label>Marca</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Modelo</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Falla</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Direccion</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Horario</mat-label>
    <input matInput>
  </mat-form-field>

  <button mat-raised-button type="submit" color="primary">Solicitar</button>
 
</form>
<app-footer></app-footer>
