<app-header></app-header>
<main>
  <p>HISTORIAL DE VIAJES</p>

  <!-- <mat-form-field appearance="fill">
    <mat-label>Filtro</mat-label>
    <input matInput>
  </mat-form-field> -->

  <button mat-raised-button type="button" color="primary" (click)="getRecords()">
    Actualizar historial
  </button>

  <table *ngIf="dataSource.length !== 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <!-- Fecha Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef class="cell-header">Fecha</th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>
  
    <!-- Marca Column -->
    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef class="cell-header">Marca</th>
      <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
    </ng-container>
  
    <!-- Mdelo Column -->
    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef class="cell-header">Modelo</th>
      <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
    </ng-container>
  
    <!-- Equipo Column -->
    <ng-container matColumnDef="equipo">
      <th mat-header-cell *matHeaderCellDef class="cell-header">Equipo</th>
      <td mat-cell *matCellDef="let element"> {{element.equipo}} </td>
    </ng-container>

    <!-- Envio Column -->
    <ng-container matColumnDef="envio">
      <th mat-header-cell *matHeaderCellDef class="cell-header">Envio</th>
      <td mat-cell *matCellDef="let element"> {{element.envio}} </td>
    </ng-container>

    <!-- Entregado Column -->
    <ng-container matColumnDef="entregado">
      <th mat-header-cell *matHeaderCellDef class="cell-header">Entregado</th>
      <td mat-cell *matCellDef="let element"> {{element.entregado}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</main>
<app-footer></app-footer>
